body {
    font-family: $default-font;
}

p {
    font-size: 1.18em;
    letter-spacing: .025em;
    line-height: 1.5em;
    font-size: 1.25em;
}

a {
    color: #1D538C;
    text-decoration: none;
}

a:hover {
    color: #1D538C;
    text-decoration: underline;
}

h2 {
    padding: 15px;
    font-size: 2.2em;
    margin-bottom: 0;
    border-top: 3px solid black;
    margin-left: -15px;
    margin-right: -15px;
}
