// Fonts
$default-font: 'Lato', sans-serif;

// Breakpoints
$tablet-width: 1250px;
$mobile-width: 1000px;
$small-mobile-width: 430px;

// Widths & paddings
$content-width-tablet: 85%;
$header-footer-padding: 75px;

// Colours
$opaque-gray: rgba(50, 50, 50, .35);
