html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

p, a {
  line-height: 1.4em;
  font-size: 22px;
  letter-spacing: 0.05em;
  max-width: 800px;
  color: hsl(0, 0%, 85%);
  text-shadow: -1px 1px 2px black; 
}

.container {
  margin: 0 120px;

  @media (max-width: 1200px) { margin: 0 60px; }
  @media (max-width: 700px) { margin: 0 22px; }
}


.hero-title {
  font-family: 'Lora', serif;
}

header {
  background-color: hsla(4, 44%, 8%, 0.5);
  background-image: url('../images/background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 500px;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  
  .hero {
    height: 100%;

    .hero-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .hero-title {
        font-size: 80px;
      }
    }

    .hero-link {
      display: block;
      height: 36px;

      a {
        color: #BA433D;
        
        &:hover {
          color: lighten(#BA433D, 8%);
        }
      }
    }
  }
}
